# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://umewpoesaoolfdcmpapc.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable__sVAOKDRMwoBZE2UG-5PbQ_NTgHmoHs"

# API
NEXT_PUBLIC_API_URL="http://localhost:3001"
