# Dependencies
node_modules
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local
!.env.example

# Next.js
apps/web/.next/
apps/web/out/

# NestJS / Build output
apps/api/dist/

# Testing
coverage/

# Misc
.DS_Store
*.pem
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo
.turbo

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
